# Core dependencies
python-telegram-bot==20.7
beautifulsoup4==4.12.3
aiohttp==3.9.5
Pillow==10.4.0
img2pdf==0.5.1
PyMuPDF==1.24.9
PyMuPDFb==1.24.9

# Redis for queue
redis==5.0.8

# Utils
aiofiles==23.2.1
lxml==5.3.0
requests==2.32.3
urllib3==2.2.3

# For advanced scraping
selenium==4.25.0
webdriver-manager==4.0.2

# For PDF processing
PyPDF2==3.0.1
reportlab==4.2.5
